---
layout: archive
title: "Science Popularization"
permalink: /popsci/
author_profile: true
---

{% for post in site.popsci reversed %}
  {% include archive-single.html %}
{% endfor %}

<section class="grainy-gradient-intro">
  <svg height="0" width="0">
    <filter id='f'>
      <feTurbulence type='fractalNoise' baseFrequency='.5' />
    </filter>
  </svg>
  <div class="d-flex justify-content-center align-items-center text-center" style="height: calc(100vh - 26px);">
    <h1 class="display-4 fw-bold text-uppercase text-dark mb-0" style="letter-spacing: 15px;">[Chewing on How Macaques Chew](https://www.cicasp.pri.kyoto-u.ac.jp/news/articles/chewing-how-macaques-chew)</h1>
  </div>
</section>

## [Chewing on How Macaques Chew](https://www.cicasp.pri.kyoto-u.ac.jp/news/articles/chewing-how-macaques-chew)
- A plain explanation on my works in graduate school.

  <img src='/images/yaku-3.JPG' width='400'>